body {
     display: flex;
     background-color: #27374D;
     margin-top: 3rem;
   }
.calculadora{
     background-color: #526D82;
     width: 100%;
     max-width: 280px;
     margin: auto;
     padding: 0.875rem;
     border-radius: 1.2rem;
     box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
}
.content{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     padding: 0.1px;
     color: #DDE6ED;
     margin: 0;
     width:100%;
     height: 100%;
     border-radius: 1.188rem;
     text-align: center;
}
.content h2{
     font-size: 1.3rem;
}
.content label{
     font-size: 12px;
     
}
.input{
     width: 40%;
     margin-bottom: 0.25rem;
     text-align: center;
     border: 1px solid #526D82;
     border-radius: 0.3rem;
     box-shadow: 0 2px 3px rgba(0 0 0 / 0.15);
}
.input::-webkit-input-placeholder{
     text-align: center;
     color: black;
}
.btns{
     display: block;
     margin-top: 10px;
     margin-bottom: 1.5rem;
     
}
.boton{
     border-radius: 20px;
     border:solid 4px #9DB2BF;
     background-color: #9DB2BF;
     font-family: 'Ubuntu', sans-serif;
     font-weight: bold;
     color:   #27374D;
}
#mensaje{
     display: block;
     font-size: 16px;
     color:black;
     margin-bottom: 12px;
}
@media screen and (max-width: 330px) {
     .calculadora {
       width: 90%;
       max-width: none;
     }
     .content h2 {
          font-size: 1.2rem;
     }
     .input {
       width: 50%;
     }
 
   }